@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
 
}
header{
    padding: 36px;
}

body{
    background-color:  rgba(26, 11, 46, 1);
     color: rgb(255, 255, 255,1);
}
nav{
   
    max-width:1200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
 
nav,.list-item{
display: flex;
list-style: none;
gap: 32px;
font-size:1rem;
align-items: center;

}
nav>span{
    margin-left: 100px;
    display: none;
}

.logo{
   font-size: 1.5rem;
}
.color-wave{

    font-weight: bold;
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}
.btn-sub{
    font-size:medium;
    font-style: semi bold;
    border-radius: 10000px;
    align-items:left;
    padding: 2px 5px;
    color: rgb(255, 255, 255,1);
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
       
}


nav img{
    align-items: center;
    gap:0px;
    align-items: end;
}
.podcast h1{
text-align: center;
font-style: bold;
font-size: 48px;
line-height: 60px;
}
.podcast p {
    text-align:  center;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    
}























/*responsive desing*/
    
@media screen and (max-width:576px) {
    nav{
        width: 100%;
        padding:0 20px;
    }
    .list-item{
        display:none;
        
    }
    .btn-sub{
        display: none;
    }
    nav>span{
    margin-left: 100px;
    display:inline;
}
    
}
