@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
 
}
header{
    padding: 36px;
}

body{
    background-color:  rgba(26, 11, 46, 1);
     color: rgb(255, 255, 255,1);
}
nav{
   
    width:1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
 
nav,.list-item{
display: flex;
list-style: none;
gap: 32px;
font-size:1rem;
align-items: center;

}

.logo{
   font-size: 1.5rem;
}
.color-wave{

    font-weight: bold;
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}
.btn-sub{
    font-size:medium;
    font-style: semi bold;
    border-radius: 40px;
    align-items:center;
    color: rgb(255, 255, 255,1);
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
       
}
nav img{
    align-items: center;
    gap:0px;
}