@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
 
}
header{
    padding: 36px;
}

body{
    background-color:  rgba(26, 11, 46, 1);
     color: rgb(255, 255, 255,1);
}
nav{
   
    max-width:1600px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
 
nav,.list-item{
display: flex;
list-style: none;
gap: 32px;
font-size:1rem;
align-items: center;

}
nav>span{
    margin-left: 100px;
    display: none;
}

.logo{
   font-size: 1.5rem;
}
.color-wave{

    font-weight: bold;
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}
.btn-sub{
    font-size:medium;
    font-style: semi bold;
    border-radius: 10000px;
    align-items:left;
    padding: 2px 5px;
    color: rgb(255, 255, 255,1);
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
       
}


nav img{
    align-items: center;
    gap:0px;
    align-items: end;
}
.podcast h1{
text-align: center;
font-style: bold;
font-size: 48px;
line-height: 60px;
}
.podcast p {
    text-align:  center;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    
}
.grid-container{
    display: grid;
    max-width: 1200px;
    min-height: 200px;
    margin:50 auto;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,4fr);
    text-transform:uppercase;
    text-align: center;
    margin-top: 30px;
    gap: 80;
    margin-left:90px;

}

.grid-container h1{
    color: rgba(0, 255, 136, 1);
}

.choose{
text-align: center;
margin: top 30px;;
font-size: 32px;
line-height: 39px;
display: inline;


}

.grid-container-choose{
    display: grid;
    
    max-width:100%;
    height:100%;
    margin:20px auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:15px;
    padding: 120px 200px;
}

.box-1{
    grid-row:span 2;
    padding: 30px;
    

}
.box-1 h2{
    margin-top: 10px;
}
.box-2{
    grid-column: span 2;
}

.box-3{
    grid-column: span 2;
    justify-content: flex-start;
}

.box-4{
    grid-column: span 2;
}
.box-5{
    grid-column: span 2;
}
.box-7{
    grid-column: span 2;
}

[class^="box-"] {
    border:solid  rgba(255, 255, 255, 0.1); 
    background-color: #1a0b3c;                  
    border-radius: 12px;
    padding: 25px;
}
.Featured{
text-align: center;
font-style: bold;
font-size: 32px;
line-height: 35px;
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; 
  padding: 20px;
}

.video-item {
  position: relative;
  padding-bottom: 56%; 
  height: 0;
}

.video-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px; 
}
.duration{
     color: rgba(0, 255, 136, 1);
}


.host {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    gap: 40px;
    padding: 50px;
    background-color:  rgba(26, 11, 46, 1);
    color: white;
  
}


.host h2 {
    width: 100%; 
    text-align: center;
    margin-bottom: 20px;
    font-size:xx-large;
    font-weight: bold;
}


.host-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.host-name {
    flex: 1;
    max-width: 600px;
    text-align: left; 
    
}
.host-name>h3{
    font-weight: bolder;
    font-size: x-large;
}


.host-name p {
    margin: 15px 0;
    line-height: 1.6;
    color: white;
}


.social-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

.host-icon {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.host-icon img {
    width: 18px;
    height: auto;
}


.host-icon:hover {
    border-color: #ec72ec;
    transform: translateY(-3px);
}
.footer-section {
    background-image: url('./assets/footer-bg.png'); 
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
}
.footer-section {
    background-color: #0b011a;
    background-image: url('./assets/footer-bg.png'); 
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding: 80px 20px;
    text-align: center;
    color: white;
}




.footer-section div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.footer-section div:nth-child(2) img {
    width: 20px;
    height: auto;
}


.footer-section div:nth-child(2) span {
    color: #b1a1c9;
    font-size: 16px;
    margin-right: 5px; 
}


.footer-section p {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}


.footer-section {
    background-color: #0b011a;
    background-image: url('./assets/footer-bg.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px;
    text-align: center;
    color: white;
}


.footer-section h1 {
    font-size: 50px;
    margin-bottom: 30px;
}
.footer-section h1 span {
    font-weight: bold;
    font-size: xx-large;
    font-size: 50px;
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}


.footer-links div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px; 
    flex-wrap: wrap;
    margin: 30px 0;
}

.footer-links img {
    width: 20px;
    height: auto;
}

.footer-links {
    transition: transform 0.3s ease, filter 0.3s ease; 
    cursor: pointer;
}

.footer-links:hover {
    transform: translateY(-5px);
    filter: brightness(1.3);    
} 










/*responsive desing*/
    
@media screen and (max-width:576px) {
    nav{
        width: 100%;
        padding:0 20px;
    }
    .list-item{
        display:none;
        
    }
    .btn-sub{
        display: none;
    }
    nav>span{
    margin-left: 100px;
    display:inline;
    }
    .grid-container{
        grid-template-columns: repeat(2,2fr);
    }
    


    .choose{
        font-size:x-large;
    }
    .grid-container-choose{
        grid-template-columns: repeat(1,1fr);
    }
    .host {
        flex-direction: column; 
        text-align: center;  
        padding: 30px 15px;    
    }
    .host {
        flex-direction: column; 
        text-align: center;    
    }
    .host-img img {
        width: 150px;          
        height: 150px;
        margin-bottom: 10px;
    }
    .social-icons {
        justify-content: center; 
        padding: 10px 0;
    }
    .host-name p {
        font-size: 14px;       
}
    .footer-section {
        
        background-size: contain; 
        background-position: top center;
        padding: 40px 15px;
    }

    .footer-links div {
        gap: 15px; 
    }
}


 
